venv/
venvn/
env/
.idea/
__pycache__/
input/logs/*
input/evaluation/raw/*.xes
input/evaluation/raw/*.jsonocel
input/evaluation/sample/*
output/evaluation/*.pkl
resources/*.pkl
.DS_Store
model/bpe_tokenizer.pckl
model/pytorch_model.bin
model/config.json
model/sec_parameters.json
temp/


